@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');
html, body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, pre {
	margin: 0;
	padding: 0;
}
html, body { min-height: 100%; }

body {
	background-color: #1b1b24;
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 62.5%;
	padding: 0 20px;
	box-sizing: border-box;
}
code {
	font-family: 'Inconsolata', monospace;
	padding: .2em .4em;
}


.content ul {
	margin: .5em 2em;
	padding: 0;
}

h1.intro {
    color: white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 650px;
    margin-top: 10px;
    font-size: 30;
    width: 500px;
    height: 200px;
	position: absolute;
}

/* Appearance */
.links {
	margin-left: 440px;
	width: 1000px ;
    background-color: #1c1c35ab;
	background-image: linear-gradient(to bottom, #0003, transparent);
	border-bottom: 1px solid #0003;
	box-shadow: 0 0 32px #0003;
	font-size: 20px;
	font-weight: 300;
    border-radius: 25px;
}

@media screen, (max-width:800px) {
	.links{
		width: 700px;
		background-color: blue;
		margin-left: 350px;
	}

	body {
		background-color: rgba(0, 0, 255, 0.842);
	}

	h1.intro{
		margin-left: 420px;
	}
}
.links a {
	color: rgba(255, 255, 255, 0.507);
	padding: .75em;
	text-align: center;
	text-decoration: none;
	transition: all .5s;
}
.links a:hover {
	background: #ffffff2c;
	color: white;
    border-radius: 25px;
}
.links .line {
	background: white ;
	height: 2px;
	pointer-events: none;
}

/* The Magic */
#header {
	top: 0;
	left: 0;
	right: 0;
}
.links {
	display: grid;
	grid-template-columns: repeat(var(--items), 1fr);
	position: relative;
}
.links .line {
	opacity: 0;
	transition: all .5s;
	position: absolute;
	bottom: 0;
	left: var(--left, calc(100% / var(--items) * (var(--index) - 1)));
	width: var(--width, calc(100% / var(--items)));
	--index: 0;
}
.links a:hover ~ .line {
	opacity: 1;
}

.links a:nth-of-type(1):hover ~ .line { --index: 1; }
.links a:nth-of-type(2):hover ~ .line { --index: 2; }
.links a:nth-of-type(3):hover ~ .line { --index: 3; }
.links a:nth-of-type(4):hover ~ .line { --index: 4; }
.links a:nth-of-type(5):hover ~ .line { --index: 5; }
.links a:nth-of-type(6):hover ~ .line { --index: 6; }
.links a:nth-of-type(7):hover ~ .line { --index: 7; }
.links a:nth-of-type(8):hover ~ .line { --index: 8; }
.links a:nth-of-type(9):hover ~ .line { --index: 9; }
.links a:nth-of-type(10):hover ~ .line { --index: 10; }
.links a:last-of-type:hover ~ .line { --index: var(--items); }

/*--------------------------------------------------------------------*/
:root {
	--delay: 0ms;
	--path: path('M.4 76.8C102-24.9 266.9-24.9 368.5 76.8c81.3 81.3 81.3 213.2 0 294.5-65.1 65.1-170.6 65.1-235.6 0-52.1-52.1-52.1-136.5 0-188.5 41.6-41.6 109.2-41.6 150.8 0 33.3 33.3 33.3 87.3 0 120.6-26.7 26.7-69.9 26.7-96.5 0-21.3-21.3-21.3-55.9 0-77.2 17.1-17.1 44.7-17.1 61.8 0 13.6 13.6 13.6 35.8 0 49.4-10.9 10.9-28.6 10.9-39.5 0-8.7-8.7-8.7-22.9 0-31.6 7-7 18.3-7 25.3 0');
}

.wrapper {
	position: absolute;
	margin-left: 700px;
	margin-top: 220px;
	display: flex;
}

.obj {
	--color: salmon;
	position: absolute;
	top: 0;
	left: 0;
	offset-path: var(--path);
	animation: move 4500ms infinite ease-in-out var(--delay);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	background-color: var(--color);
	opacity: 0;
	transform: scale(0);
}

.obj--2 {
	--delay: 1500ms;
	--color: hotpink;
}

.obj--3 {
	--delay: 3000ms;
	--color: turquoise;
}

svg {
	width: 429px;
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes move {
	10% {
		opacity: 1;
		offset-distance: 0%;
		transform: scale(1);
	}
	30% {
		box-shadow: -0.5rem 0 0.3rem var(--color, white);
	}
	70% {
		box-shadow: -0.5rem 0 0.3rem var(--color, white);
	}
  90% {
		opacity: 1;
    offset-distance: 100%;
		transform: scale(0.2);
		box-shadow: none;
  }
	100% {
		opacity: 0;
    offset-distance: 100%;
		transform: scale(0.2);
  }
}